html {
  background-color: #076324;
}

/* Console styles */

.console {
  flex: 1;
  padding: 25px 10px;
}

.history {
  width: 100%;
  height: 100px;
  background-color: lightgray;
}

.command {
  width: 100%;
  height: 300px;
  background-color: lightgray;
}

/* Freecell Game Styles */

.gameSection {
  flex: 1;
  padding: 25px 10px;
}

.gameTop {
  display: flex;
  height: 170px;
}

.gameMain {
  display: flex;
}

.freeCells {
  display: flex;
  flex: 1;
}

.playedCards {
  display: flex;
  flex: 1;
}

.column {
  position: relative;
  flex: 1;
  margin: 0 2px;
}

.freeCell {
  flex: 1;
  position: relative;
  margin: 0 2px;
}

.playedCardsColumn {
  flex: 1;
  position: relative;
  margin: 0 2px;
}

.cardRatioContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 140%;
  background: inherit;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
}

.playedCards .cardRatioContainer .ace {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  padding-top: 60%;
  font-size: 20px;
  opacity: .2;
}

.hideBorder .cardRatioContainer {
  border-color: transparent;
}

.column .cardRatioContainer {
  border: 1px solid transparent;
}

.greenBG .cardRatioContainer {
  background: green;
}

/* Card styles */

.card {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 4px;
}

.card img {
  width: 100%;
}

.card.greenCard {
  background: green;
}

.card.greenCard img{
  opacity: .5;
}

.card.hideCard {
  opacity: 0;
}

.card.draggingCard {
  max-width: 75px;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}
