html {
  background-color: #076324;
}

.App {
  display: flex;
}

.card {
  position: absolute;
}

.card img {
  width: 100px;
}

.column {
  width: 98px;
  height: 143px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.main {
  display: flex;
}

.dropHere {
  background-color: gray;
}

.freeCells {
  display: flex;
  height: 170px;
}

.playedCards {
  display: flex;
  height: 170px;
}

.top {
  display: flex;
}

.consoleSection {
  width: 100%;
  padding: 25px;
}

.console {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.consoleComponent {
  height: 100%;
}
